{% extends 'base.html.twig' %}

{% block title %}
    {{ 'cooperation.login.login_page'|trans }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit">{{ 'cooperation.form.register'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
